.DetailContent{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 1rem;
    text-align: center;
}

.allInformation{
    display: flex;
    flex-basis: 45%;
    flex-direction: column;
    margin: 1rem;
    text-align: center;
}

.image{
    background-color: blue;
    flex-basis: 45%;
}