.DetailContent{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 1rem;
    text-align: center;
}

.allInformation{
    display: flex;
    flex-basis: 45%;
    flex-direction: column;
    margin: 1rem;
    text-align: center;
}

.firstTittle, .SecondTittle{
    font-weight: bold;
    font-size: 1.2rem;
}

.contentDivisor{
    border: 1px solid var(--pv-blue-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
    padding: .5rem;
}

.contentDivisor span{
    font-weight: bold;
}

/*Resolución de tablet*/
@media screen and (min-width: 768px) {

    .space{
        display: flex;
        justify-content: space-around;
        margin-top: 1rem;
    }

}