.content{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 1rem;
}

.cardStudy{
    align-items: center;
    background-color: var(--pv-blue-color);
    border-radius: 5px;
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
    max-width: 250px;
    max-height: 250px;
    min-height: 249px;
    min-width: 249px;
    padding: 1rem;
    text-align: center;
}

.cardStudy h3{
    color: var(--pv-green-color);
    font-weight:400;
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

.cardStudy p{
    font-weight: lighter;
    margin-bottom: .5rem;
}

.link{
    color: var(--pv-yellow-color);
    font-weight: 300;
    text-decoration: none;
}

.text{
    text-align: left;
}

.text p{
    margin: 1rem;
}

/*Resolución de tablet*/
@media screen and (min-width: 768px) {
    .content{
        margin-left: 0;
        width: 100%;
    }

    .container{
        align-items: center;
        display: flex;
        justify-content: space-around;
    }

    .text{
        max-width: 300px;
    }
}

/*Resolución de medias (equipos de escritorio)*/
@media screen and (min-width: 1024px) {

    .container{
        flex-direction: column-reverse;
        min-width: 800px;
    }
    .cardsInformation{
        display: flex;
    }

    .cardStudy{
        margin-left: 1rem;
        margin-top: 1.5rem;
        max-width: 300px;
        max-height: 300px;
        min-height: 299px;
        min-width: 299px;
    }

    .cardStudy h3{
        font-size: 2rem;
    }

    .cardStudy p{
        font-size: 1.5rem;
    }

    .link{
        font-size: 1.5rem;
    }

    .text{
        min-width: 500px;
        max-width: 600px;
        margin: 0;
    }

}