.contentHome{
    display: flex;
    height: 100%;
    margin: 1rem;
    min-height: 100px;
}

.text{
    padding: 1rem;
}

.text p, .text h1{
    text-align: center;
}

.myflower{
    animation: flowRotate 20s ease 1s infinite normal;
    max-width: 200px;
}

@keyframes flowRotate {
    25%{
        transform: rotate(45deg);
    }
    50%{
        transform: rotate(90deg);
    }
    75%{
        transform: rotate(135deg);
    }
    100%{
        transform: rotate(180deg);
    }
}

/*Resolución de tablet*/
@media screen and (min-width: 768px) {

    .contentHome{
        flex-direction: row-reverse;
        justify-content: space-around;
    }

    .text{
        max-width: 150px;
    }

    .flower{
        align-items: center;
        display: flex;
    }

    .myflower{
        max-width: 300px;
    }
}

/*Resolución de medias (equipos de escritorio)*/
@media screen and (min-width: 1024px) {
    .content{
        align-items: center;
        flex-direction: column;
        min-height: 380px;
    }

    .text{
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin: 4rem;
        max-width: 600px;
    }

    .myflower{
        max-width: 500px;
    }
}