.content{
    display: flex;
    height: 100%;
    margin: 1rem;
    min-height: 100px;
}

.text{
    padding: 1rem;
}

.text p, .text h1{
    text-align: center;
}

.flower{
    display: none;
}

/*Resolución de tablet*/
@media screen and (min-width: 768px) {

    .text{
        max-width: 150px;
    }

    .flower{
        display: initial;
        max-width: 200px;
    }

    .myflower{
        max-width: 150px;
    }
}

/*Resolución de medias (equipos de escritorio)*/
@media screen and (min-width: 1024px) {
    .content{
        align-items: center;
        flex-direction: column;
        min-height: 380px;
    }

    .text{
        margin: 4rem;
        max-width: 600px;
    }

    .myflower{
        max-width: 200px;
    }
}