nav{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 1rem;
}

ul{
    display: none;
    text-align: center;
    transition: all .5s;
    padding: .5rem;
    width: 100%;
}

ul li{
    display: block;
    list-style: none;
}

.li{
    margin:1rem
}

.item{
    color: var(--general-black);
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}

.item:hover{
    color: var(--pv-yellow-color);
    text-shadow: .5px .5px 1px var(--general-black);
}

.active{
    color: var(--pv-green-color);
    text-shadow: .5px .5px 1px var(--general-black);
}

.item i{
    margin-right: .5rem;
}

.checkClass{
    display: block;
}

#check{
    display: none;
}

#check:checked ~ ul{
    display: initial;
}

/*Resolución de medias (equipos de escritorio)*/
@media screen and (min-width: 1024px) {

    nav{
        flex-direction: row;
    }

    .checkClass{
        display: none;
    }

    ul{
        display: flex;
        justify-content: space-around;
    }

    #check:checked ~ ul{
        display: flex;
    }
}