.Skills{
    display: flex;
    margin-left: 1rem;
    max-width: 500px;
    height: 100%;
}

.skill{
    background-color: var(--pv-blue-color);
    border-radius: 5px;
    color: whitesmoke;
    margin: 2rem auto;
    max-width: 200px;
    padding: .2rem;
    text-align: center;
}

.skill h4{
    font-weight: 400;
    font-size: 1.5rem;
}

/*Resolución de tablet*/
@media screen and (min-width: 768px) {

    .Skills{
        margin: .5rem auto;
    }

    .cardImageLeft{
        display: none;
    }
}

/*Resolución de medias (equipos de escritorio)*/
@media screen and (min-width: 1024px) {

    .Skills{
        max-width: 1000px;
    }

    .skillsContainer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .spaceSkills{
        display: flex;
    }

    .skill{
        margin: 1rem;
        padding: .5rem;
    }

    .cardImageLeft{
        display: flex;
    }
}