.Skills{
    display: flex;
    margin-left: 1rem;
    max-width: 400px;
    height: 100%;
}

.skill{
    background-color: var(--pv-blue-color);
    border-radius: 5px;
    color: whitesmoke;
    margin: 3rem auto;
    max-width: 200px;
    max-height: 0px;
    padding: .2rem;
    text-align: center;
    transition: all 1s ease;
}

.skill:hover{
    max-height: 70px;
}

.skill h4{
    font-weight: 400;
    font-size: 1.5rem;
}

/*Resolución de tablet*/
@media screen and (min-width: 768px) {

    .Skills{
        margin: .5rem auto;
    }

    .cardImageLeft{
        display: none;
    }
}

/*Resolución de medias (equipos de escritorio)*/
@media screen and (min-width: 1024px) {

    .spaceSkills{
        display: flex;
        justify-content: space-around;
        max-width: 1000px;
    }

    .Skills{
        max-width: 1000px;
    }

    .skillsContainer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .skill{
        margin: 1rem;
        padding: .5rem;
    }

    .cardImageLeft{
        display: flex;
        margin-right: 1rem;
        min-width: 250px;
    }
}