section{
    display: flex;
    flex-direction: column;
}

.title{
    margin: 1rem auto;
}

.subContainer p{
    margin: 1rem;
}


/*Resolución de tablet*/
@media screen and (min-width: 768px) {

    h1{
        font-size: 4rem;
    }

    .subContainer{
        display: flex;
        justify-content: space-around;
        margin-bottom: 2rem;
    }

    .textContainer{
        max-width: 300px;
    }

    .cardImageLeft{
        width: 200px;
        height: 200px;
    }
}

/*Resolución de medias (equipos de escritorio)*/
@media screen and (min-width: 1024px) {
    section{
        justify-content: center;
        min-height: 500px;
    }

    .textContainer{
        max-width: 500px;
        padding: 2.5rem .5rem;
    }

    .cardImageLeft{
        width: 250px;
        height: 250px;
    }
}